.searchStyle {
    width: 100% !important;
    padding: 0px !important;
}

.resetBtn {
    margin-left: 10px;
}

.divStyle {
    padding: 10px 10px 0px 10px;
    overflow-x: hidden;
}

.LinkStyle {
    border: 1px solid blue;
    border-radius: 4px;
    padding: 10px;
}

.addbtn{
    float: right;
}