.dragArea {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow-x: auto;
    overflow-y: hidden;
}

.dragOver {
    width: 15%;
    display: inline-flex;
    position: fixed;
    bottom: 20px;
    font-weight: bold;
    font-size: large;
}

.btnStyl {
    float: left;
    margin: 10px;
    border: 1px solid #007bff;
    border-radius: 4px;
}


.btnStyl2 {
    float: left;
    margin: 10px;
    border: 1px solid #007bff;
    border-radius: 4px;
    width: 120px;
}

.titleStylel {
    color: white;
}

.modalTitle {
    text-align: center !important;
}

.onhvr {
    transform: scale(2);
}