* {
    box-sizing: border-box;
  }
  
  h1, p {
    font-family: Lato;
  }
  
  .app-wrapper {
    display: flex;
  }
  
  .tool-wrapper {
    width: 150px;
    padding: 8px;
    border: 1px solid black;
  }
  
  .tool {
    padding: 8px 16px;
    margin: 4px;
    background-color: aquamarine;
    cursor: grab;
  }
  
  .container {
    width: 100%;
    height: 400px;
    padding: 16px;
    border: 1px solid black;
  }
  
  .box {
    width: 100%;
    padding: 8px 16px;
    margin: 4px;
    border: 1px solid black;
    background-color: aquamarine;
  }
  
  .drop-area {
    height: 20px;
    width: 100%;
    text-align: center;
    background-color: burlywood;
    display: none;
  }
  
  .highlight {
    display: block;
    border: 2px solid red;
  }

  .link1{
    border: 2px solid ;
  }

  