.brick {
  position: relative;
  height: 300px;
  width: 400px;
  border-radius: 30px;
  background: #FFFFFF;
  box-shadow: 2px 6px 30px 0 rgba(0, 0, 0, 0.4);
}

.side1 {
  position: absolute;
  top: 140px;
  left: 160px;
  height: 68px;
  width: 180px;
  background: #1D6A9A;
  transform: skewY(-30deg);
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 70px;
  font-size: x-large;
}

.side2 {
  position: absolute;
  top: 166px;
  left: 71px;
  height: 68px;
  width: 90px;
  background: #237FBD;
  transform: skewY(30deg);
}

.side3 {
  position: absolute;
  /* top: 4px; */
  /* left: 20px; */
  height: 105px;
  width: 180px;
  background: #2696DD;
  transform: skewY(30deg);
}

.side3-bin {
  transform: rotate(-60deg);
}

.stud1 {
  position: absolute;
  top: 115px;
  left: 95px;
  width: 36px;
  height: 30px;
  background: #237FBD;
  margin-top: 6px;
  border-radius: 18px / 10px;
}

.stud1:before {
  content: "";
  position: absolute;
  left: 0px;
  height: 20px;
  width: 36px;
  border-radius: 18px / 10px;
  background: #4CB7FF;
}

.stud2 {
  position: absolute;
  top: 141px;
  left: 141px;
  width: 36px;
  height: 30px;
  background: #237FBD;
  margin-top: 6px;
  border-radius: 18px / 10px;
}

.stud2:before {
  content: "";
  position: absolute;
  left: 0px;
  height: 20px;
  width: 36px;
  border-radius: 18px / 10px;
  background: #4CB7FF;
}

.stud3 {
  position: absolute;
  top: 90px;
  left: 141px;
  width: 36px;
  height: 30px;
  background: #237FBD;
  margin-top: 6px;
  border-radius: 18px / 10px;
}

.stud3:before {
  content: "";
  position: absolute;
  left: 0px;
  height: 20px;
  width: 36px;
  border-radius: 18px / 10px;
  background: #4CB7FF;
}

.stud4 {
  position: absolute;
  top: 115px;
  left: 187px;
  width: 36px;
  height: 30px;
  background: #237FBD;
  margin-top: 6px;
  border-radius: 18px / 10px;
}

.stud4:before {
  content: "";
  position: absolute;
  left: 0px;
  height: 20px;
  width: 36px;
  border-radius: 18px / 10px;
  background: #4CB7FF;
}

.stud5 {
  position: absolute;
  top: 65px;
  left: 187px;
  width: 36px;
  height: 30px;
  background: #237FBD;
  margin-top: 6px;
  border-radius: 18px / 10px;
}

.stud5:before {
  content: "";
  position: absolute;
  left: 0px;
  height: 20px;
  width: 36px;
  border-radius: 18px / 10px;
  background: #4CB7FF;
}

.stud6 {
  position: absolute;
  top: 89px;
  left: 233px;
  width: 36px;
  height: 30px;
  background: #237FBD;
  margin-top: 6px;
  border-radius: 18px / 10px;
}

.stud6:before {
  content: "";
  position: absolute;
  left: 0px;
  height: 20px;
  width: 36px;
  border-radius: 18px / 10px;
  background: #4CB7FF;
}

.stud7 {
  position: absolute;
  top: 37px;
  left: 233px;
  width: 36px;
  height: 30px;
  background: #237FBD;
  margin-top: 6px;
  border-radius: 18px / 10px;
}

.stud7:before {
  content: "";
  position: absolute;
  left: 0px;
  height: 20px;
  width: 36px;
  border-radius: 18px / 10px;
  background: #4CB7FF;
}

.stud8 {
  position: absolute;
  top: 63px;
  left: 279px;
  width: 36px;
  height: 30px;
  background: #237FBD;
  margin-top: 6px;
  border-radius: 18px / 10px;
}

.stud8:before {
  content: "";
  position: absolute;
  left: 0px;
  height: 20px;
  width: 36px;
  border-radius: 18px / 10px;
  background: #4CB7FF;
}

.side1white {
  color: black;
  border: 1px solid;
  background: white
}

.side1red {
  background: #961d1f;
}

.side2red {
  background: #ce2d1e;
}

.side3red {
  background: rgb(245, 69, 69);
}

.stud1red {
  background: #ce2d1e;
}

.stud1red:before {
  background: #eb7b70;
}

.stud2red {
  background: #ce2d1e;
}

.stud2red:before {
  background: #eb7b70;
}

.stud3red {
  background: #ce2d1e;
}

.stud3red:before {
  background: #eb7b70;
}

.stud4red {
  background: #ce2d1e;
}

.stud4red:before {
  background: #eb7b70;
}

.stud5red {
  background: #ce2d1e;
}

.stud5red:before {
  background: #eb7b70;
}

.stud6red {
  background: #ce2d1e;
}

.stud6red:before {
  background: #eb7b70;
}

.stud7red {
  background: #ce2d1e;
}

.stud7red:before {
  background: #eb7b70;
}

.stud8red {
  background: #ce2d1e;
}

.stud8red:before {
  background: #eb7b70;
}